Repository hiroto113/note-app_ver2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-owner, @documentation-team, @devops-team, @development-team, @qa-team, @database-team

feat: implement comprehensive CI/CD pipeline enhancement for Issue #68
  .claude/settings.local.json
  .github/workflows/ci-enhanced.yml
  .github/workflows/ci.yml
  .github/workflows/performance-monitor.yml
  .github/workflows/quality-gate.yml
  doc/issues/phase-7.5/issue-082-sqlite-concurrency-limitations.md
  package.json
  tests/integration/database/transactions.test.ts
  vitest.config.ts
Owners: @project-owner, @devops-team, @documentation-team, @qa-team

feat: implement comprehensive quality dashboard for Issue #51
  drizzle/0002_great_thor_girl.sql
  drizzle/meta/0002_snapshot.json
  drizzle/meta/_journal.json
  scripts/seed-quality-metrics.js
  src/lib/components/admin/MetricCard.svelte
  src/lib/components/admin/QualityDashboard.test.ts
  src/lib/components/admin/QualityOverview.svelte
  src/lib/components/admin/TrendChart.svelte
  src/lib/server/db/schema.ts
  src/lib/server/quality-metrics.test.ts
  src/lib/server/quality-metrics.ts
  src/routes/(admin)/admin/quality/+page.server.ts
  src/routes/(admin)/admin/quality/+page.svelte
  src/routes/api/quality-metrics/+server.ts
  src/routes/api/quality-metrics/dashboard/+server.ts
  src/routes/api/quality-metrics/trends/+server.ts
  tests/integration/quality-dashboard.test.ts
Owners: @database-team, @project-owner, @development-team, @qa-team

style: fix prettier formatting issues
  .claude/settings.local.json
  drizzle/meta/0002_snapshot.json
  drizzle/meta/_journal.json
  scripts/seed-quality-metrics.js
  src/lib/components/admin/MetricCard.svelte
  src/lib/components/admin/QualityDashboard.test.ts
  src/lib/components/admin/QualityOverview.svelte
  src/lib/components/admin/TrendChart.svelte
  src/lib/server/db/schema.ts
  src/lib/server/quality-metrics.ts
  src/routes/(admin)/admin/quality/+page.server.ts
  src/routes/(admin)/admin/quality/+page.svelte
  src/routes/api/quality-metrics/+server.ts
  src/routes/api/quality-metrics/dashboard/+server.ts
  src/routes/api/quality-metrics/trends/+server.ts
  tests/integration/quality-dashboard.test.ts
Owners: @project-owner, @database-team, @development-team, @qa-team

fix: resolve prettier formatting issue in settings.local.json
  .claude/settings.local.json
Owners: @project-owner

fix: use existing database connection in quality metrics service
  src/lib/server/quality-metrics.ts
Owners: @development-team

fix: resolve ESLint errors in quality dashboard components
  src/lib/components/admin/MetricCard.svelte
  src/lib/components/admin/QualityDashboard.test.ts
  src/lib/components/admin/TrendChart.svelte
  src/lib/server/quality-metrics.test.ts
Owners: @development-team, @qa-team

fix: apply prettier formatting to quality metrics test file
  src/lib/server/quality-metrics.test.ts
Owners: @qa-team

fix: resolve all remaining ESLint errors
  src/lib/server/quality-metrics.test.ts
  src/lib/server/quality-metrics.ts
  src/routes/(admin)/admin/quality/+page.svelte
  src/routes/api/quality-metrics/+server.ts
  tests/integration/quality-dashboard.test.ts
Owners: @qa-team, @development-team

fix: resolve TypeScript type errors in Drizzle query builder
  src/lib/server/quality-metrics.ts
Owners: @development-team

fix: apply final prettier formatting to all quality dashboard files
  src/lib/server/quality-metrics.test.ts
  src/lib/server/quality-metrics.ts
  tests/integration/quality-dashboard.test.ts
Owners: @qa-team, @development-team

fix: resolve test file mock initialization issue
  src/lib/server/quality-metrics.test.ts
Owners: @qa-team

fix: apply final prettier formatting to test file
  src/lib/server/quality-metrics.test.ts
Owners: @qa-team

fix: resolve vitest mock hoisting issue
  src/lib/server/quality-metrics.test.ts
Owners: @qa-team

fix: replace any type with proper mock type definition
  src/lib/server/quality-metrics.test.ts
Owners: @qa-team

fix: apply 2025 vitest mocking best practices
  src/lib/server/quality-metrics.test.ts
Owners: @qa-team

fix: simplify mock configuration to resolve TypeScript spread error
  src/lib/server/quality-metrics.test.ts
Owners: @qa-team

fix: replace any type with proper db type and use vi.mocked deep option
  src/lib/server/quality-metrics.test.ts
Owners: @qa-team

fix: use any type with eslint disable for complex mock scenario
  src/lib/server/quality-metrics.test.ts
Owners: @qa-team

refactor: completely rewrite tests following 2025 best practices
  src/lib/server/quality-metrics.test.ts
Owners: @qa-team

fix: add missing beforeEach import for vitest
  src/lib/server/quality-metrics.test.ts
Owners: @qa-team

fix: apply Prettier formatting to quality-metrics.test.ts
  src/lib/server/quality-metrics.test.ts
Owners: @qa-team

feat: implement 2025 best practice CI workflow (simplified)
  .github/workflows/ci-simple.yml
  package.json
Owners: @devops-team

fix: remove duplicate ESLint disable directive
  src/lib/server/quality-metrics.test.ts
Owners: @qa-team

fix: apply Prettier formatting to CI Simple workflow
  .github/workflows/ci-simple.yml
Owners: @devops-team

fix: correct test expectation for zero previous value trend
  src/lib/server/quality-metrics.test.ts
Owners: @qa-team

feat: implement comprehensive quality dashboard for Issue #51
  .claude/settings.local.json
  .github/workflows/ci-simple.yml
  drizzle/0002_great_thor_girl.sql
  drizzle/meta/0002_snapshot.json
  drizzle/meta/_journal.json
  package.json
  scripts/seed-quality-metrics.js
  src/lib/components/admin/MetricCard.svelte
  src/lib/components/admin/QualityDashboard.test.ts
  src/lib/components/admin/QualityOverview.svelte
  src/lib/components/admin/TrendChart.svelte
  src/lib/server/db/schema.ts
  src/lib/server/quality-metrics.test.ts
  src/lib/server/quality-metrics.ts
  src/routes/(admin)/admin/quality/+page.server.ts
  src/routes/(admin)/admin/quality/+page.svelte
  src/routes/api/quality-metrics/+server.ts
  src/routes/api/quality-metrics/dashboard/+server.ts
  src/routes/api/quality-metrics/trends/+server.ts
  tests/integration/quality-dashboard.test.ts
Owners: @project-owner, @devops-team, @database-team, @development-team, @qa-team

feat: implement comprehensive test data management system for Issue #69
  package.json
  pnpm-lock.yaml
  scripts/seed.js
  src/lib/test-utils/factories.ts
  src/lib/test-utils/fixtures.ts
  src/lib/test-utils/index.ts
  tests/integration/test-data/MIGRATION_GUIDE.md
  tests/integration/test-data/example-usage.test.ts
  tests/integration/test-data/factories.test.ts
Owners: @devops-team, @project-owner, @development-team, @qa-team

fix: resolve Prettier formatting issues for CI/CD compliance
  scripts/seed.js
  src/lib/test-utils/factories.ts
  src/lib/test-utils/fixtures.ts
  src/lib/test-utils/index.ts
  tests/integration/test-data/MIGRATION_GUIDE.md
  tests/integration/test-data/example-usage.test.ts
  tests/integration/test-data/factories.test.ts
Owners: @project-owner, @development-team, @qa-team

chore(deps): complete dependency updates for security and consistency
  package.json
  pnpm-lock.yaml
Owners: @devops-team

feat: implement comprehensive error handling tests for Issue #70
  .claude/settings.local.json
  tests/integration/error-handling/auth-errors.test.ts
  tests/integration/error-handling/database-resilience.test.ts
  tests/integration/error-handling/file-upload-errors-broken.test.ts.bak
  tests/integration/error-handling/file-upload-errors.test.ts
  tests/integration/error-handling/form-validation-errors-broken.test.ts.bak
  tests/integration/error-handling/form-validation-errors.test.ts
Owners: @project-owner, @qa-team

chore: remove backup files
  tests/integration/error-handling/file-upload-errors-broken.test.ts.bak
  tests/integration/error-handling/form-validation-errors-broken.test.ts.bak
Owners: @qa-team

feat: implement comprehensive regression test suite for Issue #72
  package.json
  tests/regression/README.md
  tests/regression/api/public-api-contract-regression.test.ts
  tests/regression/automation/performance-monitor.ts
  tests/regression/automation/regression-test-runner.ts
  tests/regression/baseline-performance.json
  tests/regression/business/business-logic-regression.test.ts
  tests/regression/core/authentication-regression.test.ts
  tests/regression/core/category-management-regression.test.ts
  tests/regression/core/data-integrity-regression.test.ts
  tests/regression/core/post-lifecycle-regression.test.ts
  tests/regression/utils/regression-data-manager.ts
  tests/regression/utils/regression-helpers.ts
  tests/regression/utils/regression-test-base.ts
  vitest.config.ts
Owners: @devops-team, @qa-team

fix: resolve TypeScript compilation errors in regression tests
  tests/integration/error-handling/auth-errors.test.ts
  tests/integration/error-handling/database-resilience.test.ts
  tests/integration/error-handling/file-upload-errors.test.ts
  tests/integration/error-handling/form-validation-errors.test.ts
  tests/regression/api/public-api-contract-regression.test.ts
  tests/regression/core/authentication-regression.test.ts
  tests/regression/core/category-management-regression.test.ts
  tests/regression/core/post-lifecycle-regression.test.ts
  tests/regression/utils/regression-data-manager.ts
  tests/regression/utils/regression-helpers.ts
  tests/regression/utils/regression-test-base.ts
Owners: @qa-team

style: fix prettier formatting for regression test files
  .claude/settings.local.json
  tests/integration/error-handling/auth-errors.test.ts
  tests/integration/error-handling/database-resilience.test.ts
  tests/integration/error-handling/file-upload-errors.test.ts
  tests/integration/error-handling/form-validation-errors.test.ts
  tests/regression/README.md
  tests/regression/api/public-api-contract-regression.test.ts
  tests/regression/automation/performance-monitor.ts
  tests/regression/automation/regression-test-runner.ts
  tests/regression/baseline-performance.json
  tests/regression/business/business-logic-regression.test.ts
  tests/regression/core/authentication-regression.test.ts
  tests/regression/core/category-management-regression.test.ts
  tests/regression/core/data-integrity-regression.test.ts
  tests/regression/core/post-lifecycle-regression.test.ts
  tests/regression/utils/regression-data-manager.ts
  tests/regression/utils/regression-helpers.ts
  tests/regression/utils/regression-test-base.ts
  vitest.config.ts
Owners: @project-owner, @qa-team, @devops-team

feat: implement comprehensive security test suite for Issue #71
  package.json
  tests/security/README.md
  tests/security/auth/authentication-security.test.ts
  tests/security/data-protection/data-security.test.ts
  tests/security/injection/injection-prevention.test.ts
  tests/security/network/network-security.test.ts
  tests/security/utils/security-test-helpers.ts
  vitest.config.ts
Owners: @devops-team, @qa-team

fix: resolve TypeScript compilation errors in security tests
  tests/security/auth/authentication-security.test.ts
  tests/security/data-protection/data-security.test.ts
  tests/security/network/network-security.test.ts
Owners: @qa-team

fix: resolve test logic errors in security tests
  .claude/settings.local.json
  tests/security/data-protection/data-security.test.ts
Owners: @project-owner, @qa-team

feat: implement comprehensive security test suite for Issue #71
  .claude/settings.local.json
  package.json
  tests/security/README.md
  tests/security/auth/authentication-security.test.ts
  tests/security/data-protection/data-security.test.ts
  tests/security/injection/injection-prevention.test.ts
  tests/security/network/network-security.test.ts
  tests/security/utils/security-test-helpers.ts
  vitest.config.ts
Owners: @project-owner, @devops-team, @qa-team

fix: resolve article posting error and add technical debt documentation
  doc/designs/phase-7.5/technical-debt-resolution.md
  doc/issues/phase-7.5/issue-102-technical-debt-resolution.md
  src/hooks.server.ts
  src/routes/(admin)/admin/posts/new/+page.svelte
  src/routes/api/admin/posts/+server.ts
Owners: @documentation-team, @development-team

fix: resolve GitHub Actions workflow failures - Issue #97
  .claude/settings.local.json
  doc/designs/phase-7.5/technical-debt-resolution.md
  doc/issues/phase-7.5/issue-102-technical-debt-resolution.md
  src/app.html
  src/routes/api/admin/posts/+server.ts
  test-auth.js
  test_1751852789103_fw2nmw437.db-shm
  test_1751852789103_fw2nmw437.db-wal
  tests/manual/test-post-creation.js
  tests/security/README.md
  tests/security/auth/authentication-security.test.ts
  tests/security/data-protection/data-security.test.ts
  tests/security/injection/injection-prevention.test.ts
  tests/security/network/network-security.test.ts
  tests/security/utils/security-test-helpers.ts
Owners: @project-owner, @documentation-team, @development-team, @qa-team

.github/CODEOWNERS:

# Global code ownership
# These owners will be the default owners for everything in the repo
* @project-owner

# Documentation
/doc/ @documentation-team
*.md @documentation-team

# Configuration files
/.github/ @devops-team
/package.json @devops-team
/pnpm-lock.yaml @devops-team
*.config.* @devops-team

# Source code
/src/ @development-team

# Tests
/tests/ @qa-team
*.test.* @qa-team
*.spec.* @qa-team

# Database and migrations
/drizzle/ @database-team
