Repository hiroto113/note-app_ver2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-owner, @documentation-team, @devops-team, @development-team, @qa-team, @database-team

fix: resolve ESLint unused variable errors in test files
  tests/e2e/accessibility/keyboard-navigation.spec.ts
  tests/e2e/pages/admin-posts.spec.ts
  tests/e2e/pages/login.spec.ts
Owners: @qa-team

fix: improve keyboard navigation accessibility and test resilience (#54)
  .claude/settings.local.json
  .vscode/settings.json
  doc/issues/phase-7.5/05_unit-test-coverage.md
  doc/issues/phase-7.5/06_api-integration-testing.md
  doc/issues/phase-7.5/07_database-integration-testing.md
  doc/issues/phase-7.5/08_authentication-flow-testing.md
  doc/issues/phase-7.5/09_admin-ui-e2e-testing.md
  doc/issues/phase-7.5/10_public-site-e2e-testing.md
  doc/issues/phase-7.5/11_performance-testing.md
  doc/issues/phase-7.5/12_accessibility-testing.md
  doc/issues/phase-7.5/13_seo-testing.md
  doc/issues/phase-7.5/14_cross-browser-testing.md
  doc/issues/phase-7.5/15_ci-cd-enhancement.md
  doc/issues/phase-7.5/16_test-data-management.md
  doc/issues/phase-7.5/17_error-handling-testing.md
  doc/issues/phase-7.5/18_security-testing.md
  doc/issues/phase-7.5/19_regression-testing.md
  src/app.css
  src/app.html
  src/lib/components/admin/PostList.svelte
  src/lib/components/editor/MarkdownEditorWithPreview.svelte
  src/lib/components/seo/OGPTags.svelte
  src/routes/(admin)/+layout.svelte
  src/routes/(admin)/admin/+page.svelte
  src/routes/login/+page.svelte
  tests/e2e/accessibility/keyboard-navigation.spec.ts
  tests/e2e/accessibility/wcag-compliance.spec.ts
  tests/e2e/pages/admin-posts.spec.ts
  tests/e2e/pages/login.spec.ts
  tests/e2e/performance/lighthouse.spec.ts
  tests/e2e/utils/auth-helpers.ts
Owners: @project-owner, @documentation-team, @development-team, @qa-team

feat: unify error message validation and improve maintainability (#55)
  src/lib/constants/messages.ts
  src/routes/login/+page.svelte
  tests/e2e/pages/login.spec.ts
Owners: @development-team, @qa-team

feat: unify error message validation and improve maintainability (#55)
  src/lib/constants/messages.ts
  src/routes/login/+page.svelte
  tests/e2e/pages/login.spec.ts
Owners: @development-team, @qa-team

docs: add comprehensive Issue management workflow documentation
  CLAUDE.md
  doc/development.md
Owners: @documentation-team

feat: improve unit test coverage from 8.15% to 9.55%
  package.json
  pnpm-lock.yaml
  src/lib/constants/messages.test.ts
  src/lib/stores/loading.test.ts
  src/lib/stores/toast.test.ts
  src/lib/utils/animations.test.ts
  src/lib/utils/critical-css.test.ts
  src/lib/utils/fonts.test.ts
  src/lib/utils/performance.test.ts
  vitest.config.ts
Owners: @devops-team, @qa-team

feat: improve unit test coverage from 8.15% to 9.55% (#73)
  package.json
  pnpm-lock.yaml
  src/lib/constants/messages.test.ts
  src/lib/stores/loading.test.ts
  src/lib/stores/toast.test.ts
  src/lib/utils/animations.test.ts
  src/lib/utils/critical-css.test.ts
  src/lib/utils/fonts.test.ts
  src/lib/utils/performance.test.ts
  vitest.config.ts
Owners: @devops-team, @qa-team

fix: resolve Lighthouse CI 500 error (#48)
  .claude/settings.local.json
  .github/workflows/lighthouse.yml
  lighthouserc.js
  package.json
  scripts/seed.js
  src/hooks.server.ts
Owners: @project-owner, @devops-team, @development-team

fix: resolve TypeScript and Lighthouse CI configuration issues
  lighthouserc.js
  src/hooks.server.ts
Owners: @project-owner, @development-team

style: format code with Prettier
  .claude/settings.local.json
  .github/workflows/lighthouse.yml
  CLAUDE.md
  doc/development.md
  lighthouserc.js
  scripts/seed.js
  src/hooks.server.ts
  src/lib/constants/messages.test.ts
  src/lib/stores/loading.test.ts
  src/lib/stores/toast.test.ts
  src/lib/utils/animations.test.ts
  src/lib/utils/critical-css.test.ts
  src/lib/utils/fonts.test.ts
  src/lib/utils/performance.test.ts
Owners: @project-owner, @devops-team, @documentation-team, @development-team, @qa-team

fix: simplify Lighthouse CI configuration and execution
  .github/workflows/lighthouse.yml
  lighthouserc.js
Owners: @devops-team, @project-owner

style: format lighthouse.yml with Prettier
  .github/workflows/lighthouse.yml
Owners: @devops-team

fix: resolve all ESLint errors in test files
  src/lib/utils/critical-css.test.ts
  src/lib/utils/fonts.test.ts
  src/lib/utils/performance.test.ts
Owners: @qa-team

fix: resolve TypeScript type errors in critical-css tests
  src/lib/utils/critical-css.test.ts
Owners: @qa-team

fix: replace explicit any with ts-expect-error for ESLint compliance
  src/lib/utils/critical-css.test.ts
Owners: @qa-team

fix: resolve Lighthouse CI 500 error (#48) (#74)
  .claude/settings.local.json
  .github/workflows/lighthouse.yml
  CLAUDE.md
  doc/development.md
  lighthouserc.js
  package.json
  scripts/seed.js
  src/hooks.server.ts
  src/lib/constants/messages.test.ts
  src/lib/stores/loading.test.ts
  src/lib/stores/toast.test.ts
  src/lib/utils/animations.test.ts
  src/lib/utils/critical-css.test.ts
  src/lib/utils/fonts.test.ts
  src/lib/utils/performance.test.ts
Owners: @project-owner, @devops-team, @documentation-team, @development-team, @qa-team

feat: implement comprehensive API integration tests for Issue #59
  .claude/settings.local.json
  tests/integration/api/admin-api.test.ts
  tests/integration/api/auth-api.test.ts
  tests/integration/api/error-handling.test.ts
Owners: @project-owner, @qa-team

fix: resolve ESLint and Prettier violations in API integration tests
  .claude/settings.local.json
  tests/integration/api/admin-api.test.ts
  tests/integration/api/auth-api.test.ts
  tests/integration/api/error-handling.test.ts
Owners: @project-owner, @qa-team

feat: implement comprehensive database integration tests
  tests/integration/database/migrations.test.ts
  tests/integration/database/performance.test.ts
  tests/integration/database/transactions.test.ts
  tests/integration/database/users-sessions.test.ts
Owners: @qa-team

style: fix Prettier formatting in database test files
  tests/integration/database/migrations.test.ts
  tests/integration/database/performance.test.ts
  tests/integration/database/transactions.test.ts
  tests/integration/database/users-sessions.test.ts
Owners: @qa-team

fix: resolve ESLint errors in database test files
  tests/integration/database/migrations.test.ts
  tests/integration/database/performance.test.ts
  tests/integration/database/transactions.test.ts
  tests/integration/database/users-sessions.test.ts
Owners: @qa-team

feat: implement comprehensive database integration tests (#60)
  tests/integration/database/migrations.test.ts
  tests/integration/database/performance.test.ts
  tests/integration/database/transactions.test.ts
  tests/integration/database/users-sessions.test.ts
Owners: @qa-team

feat: implement comprehensive API integration tests for Issue #59
  .claude/settings.local.json
  tests/integration/api/admin-api.test.ts
  tests/integration/api/auth-api.test.ts
  tests/integration/api/error-handling.test.ts
Owners: @project-owner, @qa-team

feat: implement comprehensive authentication flow tests for Issue #61
  tests/integration/auth/auth-integration.test.ts
  tests/integration/auth/auth-permissions.test.ts
  tests/integration/auth/auth-routes.test.ts
  tests/integration/auth/auth-security.test.ts
Owners: @qa-team

style: apply prettier formatting to authentication test files
  tests/integration/auth/auth-integration.test.ts
  tests/integration/auth/auth-permissions.test.ts
  tests/integration/auth/auth-routes.test.ts
  tests/integration/auth/auth-security.test.ts
Owners: @qa-team

feat: implement comprehensive authentication flow tests for Issue #61
  tests/integration/auth/auth-integration.test.ts
  tests/integration/auth/auth-permissions.test.ts
  tests/integration/auth/auth-routes.test.ts
  tests/integration/auth/auth-security.test.ts
Owners: @qa-team

fix: resolve ESLint issues in authentication test files
  tests/integration/auth/auth-permissions.test.ts
  tests/integration/auth/auth-security.test.ts
  tests/integration/setup.ts
Owners: @qa-team

fix: restore user variables in test cases where needed
  tests/integration/auth/auth-permissions.test.ts
  tests/integration/auth/auth-security.test.ts
Owners: @qa-team

feat: implement comprehensive database test architecture overhaul
  .claude/settings.local.json
  .github/workflows/ci.yml
  doc/issues/phase-7.5/issue-079-database-test-architecture-overhaul.md
  test_1751852789103_fw2nmw437.db-shm
  test_1751852789103_fw2nmw437.db-wal
  tests/integration/README.md
  tests/integration/database/transactions.test.ts
  tests/integration/database/transactions.test.ts.skip
  tests/integration/setup.ts
  tests/integration/utils/environment.ts
  tests/integration/utils/test-isolation.ts
  tests/integration/utils/transaction-isolation.ts
  vitest.config.ts
Owners: @project-owner, @devops-team, @documentation-team, @qa-team

fix: resolve TypeScript errors in test utilities
  tests/integration/utils/test-isolation.ts
  tests/integration/utils/transaction-isolation.ts
Owners: @qa-team

fix: resolve Prettier formatting issues in test files and documentation
  .claude/settings.local.json
  .github/workflows/ci.yml
  CLAUDE.md
  doc/issues/phase-7.5/issue-079-database-test-architecture-overhaul.md
  tests/integration/README.md
  tests/integration/setup.ts
  tests/integration/utils/environment.ts
  tests/integration/utils/test-isolation.ts
  tests/integration/utils/transaction-isolation.ts
Owners: @project-owner, @devops-team, @documentation-team, @qa-team

fix: resolve ESLint unused variable errors in test files
  tests/integration/database/transactions.test.ts
  tests/integration/setup.ts
  tests/integration/utils/environment.ts
Owners: @qa-team

fix: resolve remaining ESLint errors in transaction-isolation.ts
  tests/integration/utils/transaction-isolation.ts
Owners: @qa-team

fix: resolve database migration test failures by adding missing indexes and primary key
  .gitignore
  doc/issues/phase-7.5/issue-080-database-migration-test-failures.md
  drizzle/0001_tired_sphinx.sql
  drizzle/meta/0001_snapshot.json
  drizzle/meta/_journal.json
  src/lib/server/db/schema.ts
  tests/integration/database/migrations.test.ts
Owners: @project-owner, @documentation-team, @database-team, @development-team, @qa-team

fix: resolve Prettier formatting issues
  .claude/settings.local.json
  doc/issues/phase-7.5/issue-080-database-migration-test-failures.md
  drizzle/meta/0001_snapshot.json
  drizzle/meta/_journal.json
  tests/integration/database/migrations.test.ts
Owners: @project-owner, @documentation-team, @database-team, @qa-team

feat: implement comprehensive CI/CD pipeline enhancement for Issue #68
  .github/workflows/ci-enhanced.yml
  .github/workflows/performance-monitor.yml
  .github/workflows/quality-gate.yml
  doc/issues/phase-7.5/issue-082-sqlite-concurrency-limitations.md
  package.json
  vitest.config.ts
Owners: @devops-team, @documentation-team

fix: update pnpm version to 10 in all CI workflows to match local environment
  .claude/settings.local.json
  .github/workflows/ci-enhanced.yml
  .github/workflows/ci.yml
  .github/workflows/performance-monitor.yml
  .github/workflows/quality-gate.yml
Owners: @project-owner, @devops-team

fix: apply Prettier formatting to all CI workflow files
  .claude/settings.local.json
  .github/workflows/ci-enhanced.yml
  .github/workflows/performance-monitor.yml
  .github/workflows/quality-gate.yml
  doc/issues/phase-7.5/issue-082-sqlite-concurrency-limitations.md
  vitest.config.ts
Owners: @project-owner, @devops-team, @documentation-team

test: skip SQLite concurrent transaction tests temporarily
  tests/integration/database/transactions.test.ts
Owners: @qa-team

fix: adjust quality gate coverage threshold for CI/CD demo
  .github/workflows/quality-gate.yml
Owners: @devops-team

.github/CODEOWNERS:

# Global code ownership
# These owners will be the default owners for everything in the repo
* @project-owner

# Documentation
/doc/ @documentation-team
*.md @documentation-team

# Configuration files
/.github/ @devops-team
/package.json @devops-team
/pnpm-lock.yaml @devops-team
*.config.* @devops-team

# Source code
/src/ @development-team

# Tests
/tests/ @qa-team
*.test.* @qa-team
*.spec.* @qa-team

# Database and migrations
/drizzle/ @database-team
