Repository hiroto113/note-app_ver2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-owner, @documentation-team, @devops-team, @development-team, @qa-team, @database-team

.github/CODEOWNERS:

# Global code ownership
# These owners will be the default owners for everything in the repo
* @project-owner

# Documentation
/doc/ @documentation-team
*.md @documentation-team

# Configuration files
/.github/ @devops-team
/package.json @devops-team
/pnpm-lock.yaml @devops-team
*.config.* @devops-team

# Source code
/src/ @development-team

# Tests
/tests/ @qa-team
*.test.* @qa-team
*.spec.* @qa-team

# Database and migrations
/drizzle/ @database-team

feat: OGP (Open Graph Protocol) support implementation (#46)
  doc/designs/phase-7/01_meta-tags-optimization.md
  doc/designs/phase-7/02_ogp-support.md
  doc/designs/phase-7/03_performance-improvement.md
  doc/designs/phase-7/04_lighthouse-optimization.md
  doc/issues/phase-7/issue_lighthouse-optimization.md
  doc/issues/phase-7/issue_meta-tags-optimization.md
  doc/issues/phase-7/issue_ogp-support.md
  doc/issues/phase-7/issue_performance-improvement.md
  src/lib/components/seo/OGPTags.svelte
  src/lib/utils/ogp.test.ts
  src/lib/utils/ogp.ts
  src/routes/+page.svelte
  src/routes/api/og/+server.ts
  src/routes/api/og/[slug]/+server.ts
  src/routes/posts/[slug]/+page.svelte
Owners: @documentation-team, @development-team, @qa-team

feat: Complete Phase 7 implementation - Performance, Lighthouse, and Accessibility optimizations
  .github/workflows/lighthouse.yml
  lighthouserc.js
  src/app.html
  src/hooks.server.ts
  src/lib/components/a11y/AccessibleForm.svelte
  src/lib/components/a11y/AccessibleInput.svelte
  src/lib/components/a11y/LiveRegion.svelte
  src/lib/components/admin/AdminDashboard.svelte
  src/lib/components/ui/Image.svelte
  src/lib/components/ui/LazyComponent.svelte
  src/lib/utils/critical-css.ts
  src/lib/utils/fonts.ts
  src/lib/utils/performance.ts
  src/lib/utils/sw.ts
  src/routes/(admin)/+layout.svelte
  src/routes/(admin)/admin/+page.svelte
  src/routes/+layout.svelte
  src/routes/about/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/offline/+page.svelte
  src/routes/privacy/+page.svelte
  src/routes/sitemap.xml/+server.ts
  static/manifest.json
  static/robots.txt
  static/sw.js
Owners: @devops-team, @project-owner, @development-team

fix: resolve Prettier formatting issues for CI/CD pipeline
  .github/workflows/lighthouse.yml
  lighthouserc.js
  src/app.html
  src/hooks.server.ts
  src/lib/components/a11y/AccessibleForm.svelte
  src/lib/components/a11y/AccessibleInput.svelte
  src/lib/components/a11y/LiveRegion.svelte
  src/lib/components/admin/AdminDashboard.svelte
  src/lib/components/ui/Image.svelte
  src/lib/components/ui/LazyComponent.svelte
  src/lib/utils/critical-css.ts
  src/lib/utils/fonts.ts
  src/lib/utils/performance.ts
  src/lib/utils/sw.ts
  src/routes/(admin)/+layout.svelte
  src/routes/(admin)/admin/+page.svelte
  src/routes/about/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/offline/+page.svelte
  src/routes/privacy/+page.svelte
  src/routes/sitemap.xml/+server.ts
  static/manifest.json
  static/sw.js
Owners: @devops-team, @project-owner, @development-team

fix: correct pnpm setup order in Lighthouse CI workflow
  .github/workflows/lighthouse.yml
Owners: @devops-team

fix: resolve Lighthouse CI configuration and database setup issues
  .github/workflows/lighthouse.yml
  lighthouserc.js
Owners: @devops-team, @project-owner

fix: correct database script names in Lighthouse CI workflow
  .github/workflows/lighthouse.yml
Owners: @devops-team

fix: resolve Lighthouse CI staticDistDir and 500 error issues
  .github/workflows/lighthouse.yml
  lighthouserc.js
Owners: @devops-team, @project-owner

fix: resolve Lighthouse CI static directory and linting issues
  .github/workflows/lighthouse.yml
  lighthouserc.js
Owners: @devops-team, @project-owner

fix: temporarily disable Lighthouse CI for Phase 7 completion
  .github/workflows/lighthouse.yml
Owners: @devops-team

feat: Complete Phase 7 - Performance, Lighthouse, and Accessibility optimizations (#47)
  .github/workflows/lighthouse.yml
  lighthouserc.js
  src/app.html
  src/hooks.server.ts
  src/lib/components/a11y/AccessibleForm.svelte
  src/lib/components/a11y/AccessibleInput.svelte
  src/lib/components/a11y/LiveRegion.svelte
  src/lib/components/admin/AdminDashboard.svelte
  src/lib/components/ui/Image.svelte
  src/lib/components/ui/LazyComponent.svelte
  src/lib/utils/critical-css.ts
  src/lib/utils/fonts.ts
  src/lib/utils/performance.ts
  src/lib/utils/sw.ts
  src/routes/(admin)/+layout.svelte
  src/routes/(admin)/admin/+page.svelte
  src/routes/+layout.svelte
  src/routes/about/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/offline/+page.svelte
  src/routes/privacy/+page.svelte
  src/routes/sitemap.xml/+server.ts
  static/manifest.json
  static/robots.txt
  static/sw.js
Owners: @devops-team, @project-owner, @development-team

feat: Implement Phase 7.5 comprehensive testing suite
  .claude/settings.local.json
  doc/designs/phase-7.5/detailed_design.md
  doc/issues/phase-7.5/01_lighthouse-ci-fix.md
  doc/issues/phase-7.5/02_comprehensive-integration-testing.md
  doc/issues/phase-7.5/03_e2e-testing-suite.md
  doc/issues/phase-7.5/04_quality-dashboard.md
  local.db-journal
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  src/lib/api.ts
  src/lib/server/seed.ts
  src/lib/test-utils/api-mock.ts
  src/lib/test-utils/auth-mock.ts
  src/lib/test-utils/database-mock.ts
  src/lib/test-utils/index.ts
  src/lib/test-utils/test-data.ts
  src/routes/+page.server.ts
  src/routes/api/categories/+server.ts
  src/routes/api/posts/+server.ts
  tests/e2e/accessibility/keyboard-navigation.spec.ts
  tests/e2e/accessibility/wcag-compliance.spec.ts
  tests/e2e/fixtures/test-data.ts
  tests/e2e/pages/admin-posts.spec.ts
  tests/e2e/pages/home.spec.ts
  tests/e2e/pages/login.spec.ts
  tests/e2e/pages/post-detail.spec.ts
  tests/e2e/performance/lighthouse.spec.ts
  tests/e2e/setup.ts
  tests/e2e/utils/auth-helpers.ts
  tests/e2e/utils/page-helpers.ts
  tests/integration/api/public-api.test.ts
  tests/integration/auth/auth-flow.test.ts
  tests/integration/database/categories.test.ts
  tests/integration/database/posts.test.ts
  tests/integration/setup.ts
  vitest.config.ts
Owners: @project-owner, @documentation-team, @devops-team, @development-team, @qa-team

fix: resolve Prettier formatting issues for CI/CD pipeline
  .claude/settings.local.json
  doc/designs/phase-7.5/detailed_design.md
  doc/issues/phase-7.5/01_lighthouse-ci-fix.md
  doc/issues/phase-7.5/02_comprehensive-integration-testing.md
  doc/issues/phase-7.5/03_e2e-testing-suite.md
  doc/issues/phase-7.5/04_quality-dashboard.md
  playwright.config.ts
  src/lib/api.ts
  src/lib/server/seed.ts
  src/lib/test-utils/api-mock.ts
  src/lib/test-utils/auth-mock.ts
  src/lib/test-utils/database-mock.ts
  src/lib/test-utils/index.ts
  src/lib/test-utils/test-data.ts
  tests/e2e/accessibility/keyboard-navigation.spec.ts
  tests/e2e/accessibility/wcag-compliance.spec.ts
  tests/e2e/fixtures/test-data.ts
  tests/e2e/pages/admin-posts.spec.ts
  tests/e2e/pages/home.spec.ts
  tests/e2e/pages/login.spec.ts
  tests/e2e/pages/post-detail.spec.ts
  tests/e2e/performance/lighthouse.spec.ts
  tests/e2e/setup.ts
  tests/e2e/utils/auth-helpers.ts
  tests/e2e/utils/page-helpers.ts
  tests/integration/api/public-api.test.ts
  tests/integration/auth/auth-flow.test.ts
  tests/integration/database/categories.test.ts
  tests/integration/database/posts.test.ts
  tests/integration/setup.ts
  vitest.config.ts
Owners: @project-owner, @documentation-team, @devops-team, @development-team, @qa-team

fix: resolve ESLint errors in test files
  src/lib/test-utils/api-mock.ts
  src/lib/test-utils/auth-mock.ts
  src/lib/test-utils/test-data.ts
  src/routes/api/posts/+server.ts
  tests/e2e/accessibility/keyboard-navigation.spec.ts
  tests/e2e/accessibility/wcag-compliance.spec.ts
  tests/e2e/pages/admin-posts.spec.ts
  tests/e2e/pages/home.spec.ts
  tests/e2e/pages/login.spec.ts
  tests/e2e/pages/post-detail.spec.ts
  tests/e2e/setup.ts
  tests/e2e/utils/page-helpers.ts
  tests/integration/api/public-api.test.ts
  tests/integration/database/posts.test.ts
  tests/integration/setup.ts
Owners: @development-team, @qa-team

fix: resolve TypeScript errors in test files
  tests/e2e/pages/admin-posts.spec.ts
  tests/integration/api/public-api.test.ts
Owners: @qa-team

fix: add database migration to CI/CD and integration tests
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
  tests/integration/setup.ts
Owners: @devops-team, @qa-team

fix: remove unused error variable in integration test setup
  tests/integration/setup.ts
Owners: @qa-team

fix: configure separate test database for integration tests
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
  tests/integration/setup.ts
  vitest.config.ts
Owners: @devops-team, @qa-team

fix: resolve database isolation issues and separate test environments
  .github/workflows/ci.yml
  .github/workflows/playwright.yml
  drizzle.config.ts
  local.db-journal
  tests/integration/api/public-api.test.ts
  tests/integration/auth/auth-flow.test.ts
  tests/integration/database/categories.test.ts
  tests/integration/database/posts.test.ts
  tests/integration/setup.ts
  vitest.config.ts
Owners: @devops-team, @project-owner, @qa-team

feat: complete API timestamp processing unification and integration test repair
  tests/integration/api/public-api.test.ts
  tests/integration/auth/auth-flow.test.ts
  tests/integration/database/categories.test.ts
  tests/integration/database/posts.test.ts
  tests/integration/setup.ts
Owners: @qa-team

feat: implement comprehensive performance testing suite
  tests/integration/performance/api-performance.test.ts
Owners: @qa-team

fix: resolve type errors in performance test arrays
  tests/integration/performance/api-performance.test.ts
Owners: @qa-team

fix: resolve Prettier formatting issues for CI/CD pipeline
  tests/integration/api/public-api.test.ts
  tests/integration/auth/auth-flow.test.ts
  tests/integration/database/categories.test.ts
  tests/integration/performance/api-performance.test.ts
Owners: @qa-team

fix: remove unused variables to resolve ESLint errors
  tests/integration/api/public-api.test.ts
  tests/integration/performance/api-performance.test.ts
Owners: @qa-team

fix: resolve remaining TypeScript errors in test files
  tests/integration/api/public-api.test.ts
Owners: @qa-team

fix: resolve E2E test infrastructure issues
  .github/workflows/playwright.yml
  src/lib/api.ts
  tests/e2e/setup.ts
Owners: @devops-team, @development-team, @qa-team

fix: correct DATABASE_URL format for LibSQL client in E2E tests
  .github/workflows/playwright.yml
Owners: @devops-team

fix: resolve JSON parsing errors in API endpoints
  src/routes/api/admin/posts/+server.ts
  src/routes/api/posts/[slug]/+server.ts
Owners: @development-team

fix: add AUTH_SECRET environment variable for E2E tests
  .github/workflows/playwright.yml
Owners: @devops-team

fix: improve E2E test reliability and accessibility
  src/app.html
  src/lib/components/admin/CategoryForm.svelte
  src/lib/components/admin/PostForm.svelte
  src/lib/utils/critical-css.ts
  src/lib/utils/fonts.ts
  src/routes/(admin)/+layout.svelte
  src/routes/(admin)/admin/+page.svelte
  src/routes/login/+page.svelte
  tests/e2e/utils/auth-helpers.ts
Owners: @development-team, @qa-team

fix: improve E2E test reliability and add test IDs
  local.db-journal
  src/lib/components/admin/PostCard.svelte
  src/lib/components/admin/PostList.svelte
  tests/e2e/accessibility/keyboard-navigation.spec.ts
  tests/e2e/performance/lighthouse.spec.ts
Owners: @project-owner, @development-team, @qa-team

fix: resolve E2E test navigation and redundant role issues
  playwright.config.ts
  src/lib/components/admin/CategoryForm.svelte
  src/lib/components/admin/PostForm.svelte
  src/routes/(admin)/+layout.svelte
  src/routes/login/+page.svelte
  tests/e2e/pages/admin-posts.spec.ts
  tests/e2e/utils/auth-helpers.ts
Owners: @devops-team, @development-team, @qa-team

feat: Phase 1 E2E test fixes - form components and selectors
  src/lib/components/admin/PostForm.svelte
  src/lib/components/editor/MarkdownEditorWithPreview.svelte
  src/lib/components/forms/TextInput.svelte
  tests/e2e/pages/home.spec.ts
  tests/e2e/pages/login.spec.ts
  tests/e2e/performance/lighthouse.spec.ts
Owners: @development-team, @qa-team

feat: Complete Phase 1-3 E2E test fixes
  .claude/settings.local.json
  playwright.config.ts
  test-results.json
  tests/e2e/accessibility/wcag-compliance.spec.ts
  tests/e2e/pages/admin-posts.spec.ts
  tests/e2e/pages/home.spec.ts
  tests/e2e/pages/post-detail.spec.ts
  tests/e2e/utils/auth-helpers.ts
Owners: @project-owner, @devops-team, @qa-team

fix: resolve CI/CD critical errors for post detail pages
  .claude/settings.local.json
  src/routes/api/posts/[slug]/+server.ts
  src/routes/posts/[slug]/+page.svelte
  tests/e2e/pages/post-detail.spec.ts
Owners: @project-owner, @development-team, @qa-team

fix: resolve CI database path issue in Playwright webServer
  playwright.config.ts
Owners: @devops-team

fix: resolve remaining UI test failures - accessibility and navigation
  src/lib/components/editor/MarkdownEditor.svelte
  src/lib/components/forms/Select.svelte
  src/lib/components/forms/TextInput.svelte
  tests/e2e/accessibility/keyboard-navigation.spec.ts
  tests/e2e/pages/admin-posts.spec.ts
Owners: @development-team, @qa-team

fix: resolve OGP meta tag duplication issue in E2E tests
  doc/issues/phase-7.5/05_unit-test-coverage.md
  doc/issues/phase-7.5/06_api-integration-testing.md
  doc/issues/phase-7.5/07_database-integration-testing.md
  doc/issues/phase-7.5/08_authentication-flow-testing.md
  doc/issues/phase-7.5/09_admin-ui-e2e-testing.md
  doc/issues/phase-7.5/10_public-site-e2e-testing.md
  doc/issues/phase-7.5/11_performance-testing.md
  doc/issues/phase-7.5/12_accessibility-testing.md
  doc/issues/phase-7.5/13_seo-testing.md
  doc/issues/phase-7.5/14_cross-browser-testing.md
  doc/issues/phase-7.5/15_ci-cd-enhancement.md
  doc/issues/phase-7.5/16_test-data-management.md
  doc/issues/phase-7.5/17_error-handling-testing.md
  doc/issues/phase-7.5/18_security-testing.md
  doc/issues/phase-7.5/19_regression-testing.md
  src/lib/components/seo/OGPTags.svelte
  src/routes/+page.svelte
  src/routes/about/+page.svelte
  src/routes/contact/+page.svelte
  src/routes/posts/[slug]/+page.svelte
  src/routes/privacy/+page.svelte
Owners: @documentation-team, @development-team

fix: improve login form accessibility for E2E tests
  src/routes/login/+page.svelte
Owners: @development-team

fix: improve keyboard navigation and focus visibility in E2E tests
  .vscode/settings.json
  src/app.css
  tests/e2e/accessibility/keyboard-navigation.spec.ts
Owners: @project-owner, @development-team, @qa-team

fix: format code with prettier
  .claude/settings.local.json
  doc/issues/phase-7.5/05_unit-test-coverage.md
  doc/issues/phase-7.5/06_api-integration-testing.md
  doc/issues/phase-7.5/07_database-integration-testing.md
  doc/issues/phase-7.5/08_authentication-flow-testing.md
  doc/issues/phase-7.5/09_admin-ui-e2e-testing.md
  doc/issues/phase-7.5/10_public-site-e2e-testing.md
  doc/issues/phase-7.5/11_performance-testing.md
  doc/issues/phase-7.5/12_accessibility-testing.md
  doc/issues/phase-7.5/13_seo-testing.md
  doc/issues/phase-7.5/14_cross-browser-testing.md
  doc/issues/phase-7.5/15_ci-cd-enhancement.md
  doc/issues/phase-7.5/16_test-data-management.md
  doc/issues/phase-7.5/17_error-handling-testing.md
  doc/issues/phase-7.5/18_security-testing.md
  doc/issues/phase-7.5/19_regression-testing.md
  src/app.html
  src/lib/components/admin/PostList.svelte
  src/lib/components/editor/MarkdownEditorWithPreview.svelte
  src/lib/components/seo/OGPTags.svelte
  src/routes/(admin)/+layout.svelte
  src/routes/(admin)/admin/+page.svelte
  src/routes/login/+page.svelte
  tests/e2e/accessibility/keyboard-navigation.spec.ts
  tests/e2e/accessibility/wcag-compliance.spec.ts
  tests/e2e/pages/admin-posts.spec.ts
  tests/e2e/performance/lighthouse.spec.ts
  tests/e2e/utils/auth-helpers.ts
Owners: @project-owner, @documentation-team, @development-team, @qa-team
