Repository hiroto113/note-app_ver2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-owner, @documentation-team, @devops-team, @development-team, @qa-team, @database-team

feat: Complete Phase 3 implementation and GitHub integration
  .claude/settings.local.json
  create-github-labels.sh
  create_github_issues.sh
Owners: @project-owner

feat: Complete Phase 4 implementation - Admin UI and Rich Text Editor
  doc/designs/phase-4/01_admin-posts-ui.md
  doc/designs/phase-4/02_admin-categories-ui.md
  doc/designs/phase-4/03_rich-text-editor.md
  doc/issues/phase-4/issue_01_admin-posts-ui.md
  doc/issues/phase-4/issue_02_admin-categories-ui.md
  doc/issues/phase-4/issue_03_rich-text-editor.md
  package.json
  pnpm-lock.yaml
  src/lib/components/admin/CategoryForm.svelte
  src/lib/components/admin/CategoryList.svelte
  src/lib/components/admin/PostCard.svelte
  src/lib/components/admin/PostForm.svelte
  src/lib/components/admin/PostList.svelte
  src/lib/components/admin/StatusBadge.svelte
  src/lib/components/editor/MarkdownEditor.svelte
  src/lib/components/editor/MarkdownEditorWithPreview.svelte
  src/lib/components/editor/MarkdownPreview.svelte
  src/lib/components/forms/Select.svelte
  src/lib/components/forms/TextArea.svelte
  src/lib/components/forms/TextInput.svelte
  src/routes/(admin)/admin/categories/+page.server.ts
  src/routes/(admin)/admin/categories/+page.svelte
  src/routes/(admin)/admin/categories/[id]/edit/+page.server.ts
  src/routes/(admin)/admin/categories/[id]/edit/+page.svelte
  src/routes/(admin)/admin/categories/new/+page.server.ts
  src/routes/(admin)/admin/categories/new/+page.svelte
  src/routes/(admin)/admin/posts/+page.server.ts
  src/routes/(admin)/admin/posts/+page.svelte
  src/routes/(admin)/admin/posts/[id]/edit/+page.server.ts
  src/routes/(admin)/admin/posts/[id]/edit/+page.svelte
  src/routes/(admin)/admin/posts/new/+page.server.ts
  src/routes/(admin)/admin/posts/new/+page.svelte
Owners: @documentation-team, @devops-team, @development-team

fix: resolve CI/CD pipeline issues for Dependabot PRs
  .claude/settings.local.json
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/lib/utils/slug.test.ts
  vitest.config.ts
Owners: @project-owner, @devops-team, @qa-team

fix: add basic E2E tests and optimize Playwright configuration
  package.json
  tests/homepage.spec.ts
  tests/login.spec.ts
Owners: @devops-team, @qa-team

fix: resolve Prettier formatting issues for CI/CD pipeline
  .claude/settings.local.json
  src/lib/utils/slug.test.ts
  tests/homepage.spec.ts
  tests/login.spec.ts
Owners: @project-owner, @qa-team

docs: add Phase 5 design documents and issue definitions
  doc/designs/phase-5/01_public_api.md
  doc/designs/phase-5/02_admin_api.md
  doc/designs/phase-5/03_media_upload_api.md
  doc/issues/phase-5/issue_admin_api.md
  doc/issues/phase-5/issue_frontend_integration.md
  doc/issues/phase-5/issue_media_upload.md
  doc/issues/phase-5/issue_public_api.md
Owners: @documentation-team

feat: implement public API endpoints
  .claude/settings.local.json
  src/routes/api/categories/+server.ts
  src/routes/api/posts/+server.ts
  src/routes/api/posts/[slug]/+server.ts
  src/routes/api/posts/posts.test.ts
Owners: @project-owner, @development-team, @qa-team

fix: apply Prettier formatting for CI compliance
  .claude/settings.local.json
  doc/designs/phase-5/01_public_api.md
  doc/designs/phase-5/02_admin_api.md
  doc/designs/phase-5/03_media_upload_api.md
  doc/issues/phase-5/issue_admin_api.md
  doc/issues/phase-5/issue_frontend_integration.md
  doc/issues/phase-5/issue_media_upload.md
  doc/issues/phase-5/issue_public_api.md
  src/routes/api/categories/+server.ts
  src/routes/api/posts/+server.ts
  src/routes/api/posts/[slug]/+server.ts
  src/routes/api/posts/posts.test.ts
Owners: @project-owner, @documentation-team, @development-team, @qa-team

fix: resolve ESLint errors for CI compliance
  src/routes/api/categories/+server.ts
  src/routes/api/posts/posts.test.ts
Owners: @development-team, @qa-team

fix: remove API tests temporarily to fix CI
  src/routes/api/posts/posts.test.ts
Owners: @qa-team

feat: implement admin API endpoints with authentication and validation
  src/hooks.server.ts
  src/lib/server/validation.ts
  src/routes/api/admin/categories/+server.ts
  src/routes/api/admin/posts/+server.ts
  src/routes/api/admin/posts/[id]/+server.ts
Owners: @development-team

feat: implement admin API endpoints with authentication and validation (#30)
  src/hooks.server.ts
  src/lib/server/validation.ts
  src/routes/api/admin/categories/+server.ts
  src/routes/api/admin/posts/+server.ts
  src/routes/api/admin/posts/[id]/+server.ts
Owners: @development-team

feat: implement media upload API with security and image processing
  drizzle/0000_tense_the_order.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  package.json
  pnpm-lock.yaml
  src/lib/server/db/schema.ts
  src/lib/server/file-validation.ts
  src/lib/server/image-processing.ts
  src/lib/server/validation.ts
  src/routes/api/admin/upload/+server.ts
  static/uploads/.htaccess
Owners: @database-team, @devops-team, @development-team, @project-owner

feat: implement media upload API with security and image processing (#31)
  drizzle/0000_tense_the_order.sql
  drizzle/meta/0000_snapshot.json
  drizzle/meta/_journal.json
  package.json
  pnpm-lock.yaml
  src/lib/server/db/schema.ts
  src/lib/server/file-validation.ts
  src/lib/server/image-processing.ts
  src/lib/server/validation.ts
  src/routes/api/admin/upload/+server.ts
  static/uploads/.htaccess
Owners: @database-team, @devops-team, @development-team, @project-owner

feat: integrate frontend with API endpoints and add UI enhancements
  src/lib/api.ts
  src/lib/components/admin/MediaUpload.svelte
  src/lib/components/common/LoadingSpinner.svelte
  src/lib/components/common/Toast.svelte
  src/lib/components/common/ToastContainer.svelte
  src/lib/stores/loading.ts
  src/lib/stores/toast.ts
  src/routes/+layout.svelte
  src/routes/+page.server.ts
  src/routes/+page.svelte
  src/routes/posts/[slug]/+page.server.ts
Owners: @development-team

feat: integrate frontend with API endpoints and add UI enhancements (#32)
  src/lib/api.ts
  src/lib/components/admin/MediaUpload.svelte
  src/lib/components/common/LoadingSpinner.svelte
  src/lib/components/common/Toast.svelte
  src/lib/components/common/ToastContainer.svelte
  src/lib/stores/loading.ts
  src/lib/stores/toast.ts
  src/routes/+layout.svelte
  src/routes/+page.server.ts
  src/routes/+page.svelte
  src/routes/posts/[slug]/+page.server.ts
Owners: @development-team

docs: Phase 6 設計書およびIssue定義を追加
  doc/designs/phase-6/01_responsive-design.md
  doc/designs/phase-6/02_dark-mode.md
  doc/designs/phase-6/03_animations.md
  doc/designs/phase-6/04_accessibility.md
  doc/issues/phase-6/issue_accessibility.md
  doc/issues/phase-6/issue_animations.md
  doc/issues/phase-6/issue_dark-mode.md
  doc/issues/phase-6/issue_responsive-design.md
Owners: @documentation-team

feat: レスポンシブデザイン対応を実装
  src/lib/components/admin/PostList.svelte
  src/lib/components/layout/Footer.svelte
  src/lib/components/layout/Navigation.svelte
  src/lib/components/post/PostCard.svelte
  src/routes/(admin)/+layout.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
Owners: @development-team

feat: レスポンシブデザイン対応を実装 (#37)
  doc/designs/phase-6/01_responsive-design.md
  doc/designs/phase-6/02_dark-mode.md
  doc/designs/phase-6/03_animations.md
  doc/designs/phase-6/04_accessibility.md
  doc/issues/phase-6/issue_accessibility.md
  doc/issues/phase-6/issue_animations.md
  doc/issues/phase-6/issue_dark-mode.md
  doc/issues/phase-6/issue_responsive-design.md
  src/lib/components/admin/PostList.svelte
  src/lib/components/layout/Footer.svelte
  src/lib/components/layout/Navigation.svelte
  src/lib/components/post/PostCard.svelte
  src/routes/(admin)/+layout.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
Owners: @documentation-team, @development-team

fix: Prettierフォーマットエラーを修正
  doc/designs/phase-6/01_responsive-design.md
  doc/designs/phase-6/02_dark-mode.md
  doc/designs/phase-6/03_animations.md
  doc/designs/phase-6/04_accessibility.md
  doc/issues/phase-6/issue_accessibility.md
  doc/issues/phase-6/issue_animations.md
  doc/issues/phase-6/issue_dark-mode.md
  doc/issues/phase-6/issue_responsive-design.md
Owners: @documentation-team

fix: apply Prettier formatting to resolve CI issues
  src/lib/components/admin/PostList.svelte
  src/lib/components/layout/Footer.svelte
  src/lib/components/layout/Navigation.svelte
  src/lib/components/post/PostCard.svelte
  src/routes/(admin)/+layout.svelte
  src/routes/+page.svelte
Owners: @development-team

fix: replace 'any' type with 'unknown' to resolve ESLint error
  src/lib/components/post/PostCard.svelte
Owners: @development-team

feat: implement comprehensive dark mode functionality
  src/lib/components/layout/Footer.svelte
  src/lib/components/layout/Navigation.svelte
  src/lib/components/post/PostCard.svelte
  src/lib/components/ui/ThemeProvider.svelte
  src/lib/components/ui/ThemeToggle.svelte
  src/lib/stores/theme.ts
  src/routes/(admin)/+layout.svelte
  src/routes/(admin)/admin/+page.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  tailwind.config.js
Owners: @development-team, @devops-team

fix: resolve ESLint unused variables in theme store
  src/lib/components/layout/Footer.svelte
  src/lib/components/layout/Navigation.svelte
  src/lib/components/post/PostCard.svelte
  src/lib/components/ui/ThemeProvider.svelte
  src/lib/components/ui/ThemeToggle.svelte
  src/lib/stores/theme.ts
  src/routes/(admin)/+layout.svelte
  src/routes/(admin)/admin/+page.svelte
  src/routes/+page.svelte
Owners: @development-team

feat: Implement comprehensive dark mode functionality (Issue #34) (#38)
  src/lib/components/layout/Footer.svelte
  src/lib/components/layout/Navigation.svelte
  src/lib/components/post/PostCard.svelte
  src/lib/components/ui/ThemeProvider.svelte
  src/lib/components/ui/ThemeToggle.svelte
  src/lib/stores/theme.ts
  src/routes/(admin)/+layout.svelte
  src/routes/(admin)/admin/+page.svelte
  src/routes/+layout.svelte
  src/routes/+page.svelte
  tailwind.config.js
Owners: @development-team, @devops-team

feat: implement comprehensive animation system with accessibility support
  .claude/settings.local.json
  src/app.css
  src/lib/components/layout/Navigation.svelte
  src/lib/components/post/PostCard.svelte
  src/lib/components/ui/FadeIn.svelte
  src/lib/components/ui/SlideUp.svelte
  src/lib/components/ui/Stagger.svelte
  src/lib/utils/animations.ts
  src/lib/utils/intersection.ts
  src/routes/+page.svelte
  tailwind.config.js
Owners: @project-owner, @development-team, @devops-team

feat: implement comprehensive animation system with accessibility support (#39)
  .claude/settings.local.json
  src/app.css
  src/lib/components/layout/Navigation.svelte
  src/lib/components/post/PostCard.svelte
  src/lib/components/ui/FadeIn.svelte
  src/lib/components/ui/SlideUp.svelte
  src/lib/components/ui/Stagger.svelte
  src/lib/utils/animations.ts
  src/lib/utils/intersection.ts
  src/routes/+page.svelte
  tailwind.config.js
Owners: @project-owner, @development-team, @devops-team

feat: implement comprehensive accessibility features (Issue #36)
  src/app.css
  src/lib/components/a11y/Announce.svelte
  src/lib/components/a11y/FocusTrap.svelte
  src/lib/components/a11y/ScreenReaderOnly.svelte
  src/lib/components/a11y/SkipLink.svelte
  src/lib/components/layout/Navigation.svelte
  src/lib/components/post/PostCard.svelte
  src/lib/stores/accessibility.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
Owners: @development-team

feat: implement comprehensive accessibility features (Issue #36) (#40)
  src/app.css
  src/lib/components/a11y/Announce.svelte
  src/lib/components/a11y/FocusTrap.svelte
  src/lib/components/a11y/ScreenReaderOnly.svelte
  src/lib/components/a11y/SkipLink.svelte
  src/lib/components/layout/Navigation.svelte
  src/lib/components/post/PostCard.svelte
  src/lib/stores/accessibility.ts
  src/routes/+layout.svelte
  src/routes/+page.svelte
Owners: @development-team

docs: add Phase 7 design and issue definition files
  doc/designs/phase-7/01_meta-tags-optimization.md
  doc/designs/phase-7/02_ogp-support.md
  doc/designs/phase-7/03_performance-improvement.md
  doc/designs/phase-7/04_lighthouse-optimization.md
  doc/issues/phase-7/issue_lighthouse-optimization.md
  doc/issues/phase-7/issue_meta-tags-optimization.md
  doc/issues/phase-7/issue_ogp-support.md
  doc/issues/phase-7/issue_performance-improvement.md
Owners: @documentation-team

feat: implement meta tags optimization (Issue #41)
  src/lib/components/seo/MetaHead.svelte
  src/lib/components/seo/StructuredData.svelte
  src/lib/utils/seo.ts
  src/routes/(admin)/+layout.svelte
  src/routes/+page.svelte
  src/routes/posts/[slug]/+page.svelte
  src/routes/robots.txt/+server.ts
  src/routes/sitemap.xml/+server.ts
  static/og-default.png
Owners: @development-team, @project-owner

fix: improve error handling and type safety in meta tags implementation
  src/lib/utils/seo.ts
  src/routes/sitemap.xml/+server.ts
Owners: @development-team

fix: simplify sitemap.xml to avoid database build errors
  src/lib/utils/seo.test.ts
  src/routes/sitemap.xml/+server.ts
Owners: @qa-team, @development-team

fix: temporarily disable SEO components to resolve CI issues
  src/routes/+page.svelte
  src/routes/posts/[slug]/+page.svelte
Owners: @development-team

fix: implement defensive programming for SSR and build stability
  src/lib/components/seo/MetaHead.svelte
  src/lib/components/seo/StructuredData.svelte
  src/routes/+page.svelte
  src/routes/posts/[slug]/+page.svelte
Owners: @development-team

feat: enhance sitemap.xml with dynamic content and resilient error handling
  src/routes/sitemap.xml/+server.ts
Owners: @development-team

style: fix formatting issues with Prettier
  doc/designs/phase-7/01_meta-tags-optimization.md
  doc/designs/phase-7/02_ogp-support.md
  doc/designs/phase-7/03_performance-improvement.md
  doc/designs/phase-7/04_lighthouse-optimization.md
  doc/issues/phase-7/issue_lighthouse-optimization.md
  doc/issues/phase-7/issue_meta-tags-optimization.md
  doc/issues/phase-7/issue_ogp-support.md
  doc/issues/phase-7/issue_performance-improvement.md
  src/lib/components/seo/MetaHead.svelte
  src/lib/components/seo/StructuredData.svelte
  src/lib/utils/seo.test.ts
  src/lib/utils/seo.ts
  src/routes/+page.svelte
  src/routes/posts/[slug]/+page.svelte
  src/routes/robots.txt/+server.ts
  src/routes/sitemap.xml/+server.ts
Owners: @documentation-team, @development-team, @qa-team

feat: implement OGP (Open Graph Protocol) support
  src/lib/components/seo/OGPTags.svelte
  src/lib/utils/ogp.test.ts
  src/lib/utils/ogp.ts
  src/routes/+page.svelte
  src/routes/api/og/+server.ts
  src/routes/api/og/[slug]/+server.ts
  src/routes/posts/[slug]/+page.svelte
Owners: @development-team, @qa-team

style: fix Prettier formatting issues
  doc/designs/phase-7/01_meta-tags-optimization.md
  doc/designs/phase-7/02_ogp-support.md
  doc/designs/phase-7/03_performance-improvement.md
  doc/designs/phase-7/04_lighthouse-optimization.md
  doc/issues/phase-7/issue_lighthouse-optimization.md
  doc/issues/phase-7/issue_meta-tags-optimization.md
  doc/issues/phase-7/issue_ogp-support.md
  doc/issues/phase-7/issue_performance-improvement.md
  src/lib/components/seo/OGPTags.svelte
  src/lib/utils/ogp.test.ts
  src/lib/utils/ogp.ts
  src/routes/api/og/+server.ts
  src/routes/api/og/[slug]/+server.ts
Owners: @documentation-team, @development-team, @qa-team

fix: resolve ESLint type errors
  src/lib/utils/ogp.test.ts
  src/routes/api/og/[slug]/+server.ts
Owners: @qa-team, @development-team

.github/CODEOWNERS:

# Global code ownership
# These owners will be the default owners for everything in the repo
* @project-owner

# Documentation
/doc/ @documentation-team
*.md @documentation-team

# Configuration files
/.github/ @devops-team
/package.json @devops-team
/pnpm-lock.yaml @devops-team
*.config.* @devops-team

# Source code
/src/ @development-team

# Tests
/tests/ @qa-team
*.test.* @qa-team
*.spec.* @qa-team

# Database and migrations
/drizzle/ @database-team
